@using Delicious.Models
@model Dish
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Name!</title>
        <link rel="stylesheet" href="~/css/style.css"/>

    </head>
    <body>
        <div class="container">
            <h1>@Model.Name</h1>
            <h3>@Model.Chef</h3>
            <p>@Model.Description</p>
            <p>Colories: @Model.Calories</p>
            <p>Tastiness: @Model.Tastiness</p>
        </div>
        <form action="/delete/@Model.DishId">
        <input type="submit" value="Delete">
        </form>
        <form action="/edit/@Model.DishId">
        <input type="submit" value="Edit">
        </form>
    </body>
</html>